body {
  margin: 25px;
}

.tooltip {
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid silver;
  color: #222;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

#details, #initial {
  margin-top: 2rem;
}

table {
  margin-bottom: 0;
}
td, th {
  padding: 6px 96px;
}
td {
  text-align: left;
}

.container {
  width: 100%;
}

.footer {
  border-top: 1px solid silver;
  color: #64a7c4;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem;
}

#map {
  font-size: 0; /* to prevent margin at bottom of map container */
}

#legend {
  border: 1px solid silver;
  border-top: 0;
}

.legend-key path {
  display: none;
}

.legend-key text {
  font-size: 1rem;
}

.legend-key line {
  shape-rendering: crispEdges;
}

/* Thanks to http://colorbrewer2.org/ */
.YlGnBu .q0-10{fill:rgb(247, 251, 255)}
.YlGnBu .q1-10{fill:rgb(222, 235, 247)}
.YlGnBu .q2-10{fill:rgb(198, 219, 239)}
.YlGnBu .q3-10{fill:rgb(158, 202, 225)}
.YlGnBu .q4-10{fill:rgb(107, 174, 214)}
.YlGnBu .q5-10{fill:rgb(66, 146, 198)}
.YlGnBu .q6-10{fill:rgb(33, 113, 181)}
.YlGnBu .q7-10{fill:rgb(8, 81, 156)}
.YlGnBu .q8-10{fill:rgb(8, 48, 107)}
.YlGnBu .q9-10{fill:rgb(4, 26, 58)}

g.features path:hover {
  opacity: 0.5;
}